@use './../variables' as *;
.history {
  background-color: $accent-background-light;

  &__box {
    padding-bottom: 20px;

    &-title {
      width: 240px;
      font-size: 20px;
      line-height: 30px;
      font-weight: 600;
      color: $dark;
      margin: 0 0 20px;
      padding-top: 30px;

      @media (min-width: $tablet-width){
        width: 624px;
      }
    }

    &-description {
      font-size: 14px;
      line-height: 18px;
      color: $сsecondary-color-text;
      margin: 0 0 20px;
    }

    &-button {
      width: 130px;
      padding: 10px 20px;
      background-color: $accent-color;
      color: $white;
      font-size: 14px;
      line-height: 20px;
      border-radius: 35px;
      margin-top: 40px;
    }
  }   
}