.navigation {
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__toggle {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    right: 15px;
  }
}