@use './../variables' as *;
.navigation {
  /* width: 250px; */
}

.navigation__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 250px;
  padding: 50px 0 50px 0;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  /* Эффект матового стекла */
  background: rgba(255, 255, 255, 0.5); /* Полупрозрачный белый фон */
  backdrop-filter: blur(10px); /* Размытие */
  -webkit-backdrop-filter: blur(10px); /* Поддержка для Safari */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Лёгкая граница для стеклянного эффекта */

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    min-width: 890px;
    box-shadow: none;
    padding: 0;
  }
}

.navigation--opened .navigation__wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;

  @media (min-width: $desktop-width) {
    position: static;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.navigation--closed .navigation__wrapper {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
  }
}

.navigation--nojs .navigation__wrapper {
  @media (max-width: $mobile-width-only) {
    display: flex;
  }
}

.navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap:10px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 600px;
  }
}

.navigation__list a {
  font-size: 16px;
  line-height: 24px;
  color: $base-color-text;
  padding: 20px;
}

.navigation__list a:hover,
.navigation__list a:focus {
  opacity: 0.5;
}

.navigation__toggle {
  z-index: 5;
}