@use './../variables' as *;
.search {
  background-color: $white;
  box-shadow: 0px -1px 7px 0px #002213a3;
  border-radius: 25px;
  padding: 26px 0 26px 0;
}

.search__list {
  list-style-type: none;
  margin: 0 auto 20px;
  padding: 0;
  width: 290px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
  position: relative;
  
}

.search__item {
  width: 145px;
  padding-left: 30px;
  position: relative;
}

.search__item::before {
  position: absolute;
  content: " ";
  width: 20px;
  height: 20px;
  top: 3px;
  left: 6px;
}

.search__item--location::before {
  background-image: url("../../../public/assets/vectors/location.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.search__item--check-in::before {
  background-image: url("../../../public/assets/vectors/check-in-out.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.search__item--check-out::before {
  background-image: url("../../../public/assets/vectors/check-in-out.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.search__item--rooms::before {
  background-image: url("../../../public/assets/vectors/guest.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.search__list p {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: $base-color-text;
}

.search__list span {
  font-size: 14px;
  line-height: 16px;
  color: $сsecondary-color-text;
}

.search__list-button {
  width: 130px;
  margin: 0 auto;
  padding: 18px 20px 18px 50px;
  background-color: $accent-color;
  color: $white;
  border-radius: 280px;
  background-image: url('../../../public/assets/vectors/search.svg');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 25px center;
}