@use './../variables' as *;
.services {

  @media (min-width: $desktop-width) {
    padding: 147px 0 120px 0;
  }

  &__box {
    display: grid;

    @media (min-width: $desktop-width) {
      grid-template-columns: 434px 1fr;
      grid-template-rows: min-content min-content 1fr;
      align-items: start;
    }
  }

  &__title {
    width: 240px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: $dark;
    margin: 0 0 20px;

    @media (min-width: $tablet-width){
      width: 624px;
    }

    @media (min-width: $desktop-width){
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin-bottom: 30px;
      width: 411px;
      font-size: 40px;
      line-height: 50px;
    }
  }

  &__description {
    font-size: 14px;
    line-height: 18px;
    color: $сsecondary-color-text;
    margin: 0 0 20px;

    @media (min-width: $desktop-width) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: 420px;
      font-size: 16px;
      line-height: 28px;
      margin: 0 0 50px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-width: 300px;

    @media (min-width: $tablet-width) {
      width: 624px;
    }

    @media (min-width: $desktop-width) {
      width: 845px;
      grid-column: 2 / 3;
      grid-row: 1 / -1;
      gap: 24px;
      justify-self: end;
    }
  }

  &__item {
    width: 140px;
    height: 140px;
    background-image: url('/public/assets/vectors/citate.svg');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center top 30px;
    border: 1px solid $light-border;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    text-align: center;
    cursor: pointer;

    @media (min-width: $desktop-width){
      width: 193px;
      height: 193px;
      background-size: 40px 40px;
      background-position: center top 50px;
    }

    &-title {
      width: 105px;
      font-size: 12px;
      line-height: 16px;
      color: $base-color-text;
      margin: 0;
      padding-top: 85px;

      @media (min-width: $desktop-width){
        width: 145px;
        font-size: 16px;
        line-height: 28px;
        padding-top: 115px;
      }
    }
  }

  &__item:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
  }
}

.services__button {
  width: 125px;
  padding: 10px 20px;
  background-color: $accent-color;
  color: $white;
  font-size: 14px;
  line-height: 20px;
  border-radius: 35px;
  margin-bottom: 30px;
  justify-self: end;

  @media (min-width: $tablet-width){
    justify-self: start;
  }

  @media (min-width: $desktop-width){
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 16px;
    line-height: 24px;
    width: 135px;
  }
}

.services__button:hover {
  opacity: 0.4;
}

/* .services__list svg {
  border: 1px solid green;
} */
