.services {
  /* kkk */
}

.services__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.services__button {
  margin-bottom: 30px;
}


.services__title {
  margin: 0;
}

.services__list svg {
  border: 1px solid red;
}
