@use 'variables'as var;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var.$black;

  font-synthesis: none;    //Отключает синтезирование стилей шрифтов браузером, таких как курсив или жирный шрифт. Это помогает использовать только те шрифты, которые явно указаны
  text-rendering: optimizeLegibility;  //Оптимизирует рендеринг текста для улучшения читаемости, особенно для больших шрифтов. Браузер будет использовать методы, улучшающие отображение шрифтов (например, сглаживание)
  -webkit-font-smoothing: antialiased;  // Оптимизирует сглаживание шрифтов для браузеров на основе WebKit (например, Chrome, Safari). Сглаживание antialiased делает края шрифтов более чёткими.
  -moz-osx-font-smoothing: grayscale;  // Определяет сглаживание шрифтов для систем macOS в браузерах на основе Gecko (например, Firefox). Значение grayscale использует сглаживание на основе оттенков серого для более мягкого рендера шрифтов.
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: var.$pink_535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
}

.page {
  height: 100%;

  &__body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  &__content {
    min-height: inherit;
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.main {
  flex-grow: 1;
}

.image__hotel {
  border: 5px solid red;
}