@use 'variables'as var;

:root {
  font-family: var.$primary-font;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  /* background-color: var.$black; */

  font-synthesis: none;    //Отключает синтезирование стилей шрифтов браузером, таких как курсив или жирный шрифт. Это помогает использовать только те шрифты, которые явно указаны
  text-rendering: optimizeLegibility;  //Оптимизирует рендеринг текста для улучшения читаемости, особенно для больших шрифтов. Браузер будет использовать методы, улучшающие отображение шрифтов (например, сглаживание)
  -webkit-font-smoothing: antialiased;  // Оптимизирует сглаживание шрифтов для браузеров на основе WebKit (например, Chrome, Safari). Сглаживание antialiased делает края шрифтов более чёткими.
  -moz-osx-font-smoothing: grayscale;  // Определяет сглаживание шрифтов для систем macOS в браузерах на основе Gecko (например, Firefox). Значение grayscale использует сглаживание на основе оттенков серого для более мягкого рендера шрифтов.
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  font-weight: 500;
  color: var.$base-color-text;
  text-decoration: inherit;
}

a:hover {
  color: var.$red;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 10px;
  border: 1px solid red;
}

.page {
  height: 100%;

  &__body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  &__content {
    min-height: inherit;
    min-width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.main {
  flex-grow: 1;
}