// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

//Fonts
$primary-font: "Open Sans", Arial, serif;

//Colors
$base-color-text: #222222;
$сsecondary-color-text: #555555;
$accent-color: #24AB70;
$accent-color-light: #F8FAFC;
$red: #ff0000;
$white: #ffffff;